html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

body::-webkit-scrollbar-track {
    background-color: $bgColor;
}

body::-webkit-scrollbar-thumb {
    background-color: $thumbColor;
    border-radius: 10px;
}

body::-webkit-scrollbar-corner {
    @include scrollbars(corner, 2px, 2px);
}

body::-webkit-scrollbar-button:vertical:decrement {
    @include scrollbars(up, 2px, 2px);
}

body::-webkit-scrollbar-button:vertical:increment {
    @include scrollbars(down, 2px, 3px);
}

body::-webkit-scrollbar-button:horizontal:decrement {
    @include scrollbars(left, 1px, 2px);
}

body::-webkit-scrollbar-button:horizontal:increment {
    @include scrollbars(right, 3px, 2px);
}


body {
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("img/diagonal-squares/diagonal-squares.png");
    background-attachment: fixed;
    margin: 0;
    font-size: 1.9rem;
    text-align: center;
    box-sizing: border-box;
    color: #f9c128;
    font-family: 'Merriweather', serif;
}

/*scroll_button*/
.scroll {
    position: fixed;
    bottom: 50px;
    right: 15px;
    max-width: 70px;
    cursor: pointer;
    display: none;
}


footer {
    font-size: 1.25rem;
    background-color: #b05300;
    padding: 15px;
}




.container {
    background-color: $bgColor;
    width: 90vw;
    padding-top: 10px;
    padding-bottom: 1px;
}

h1 {
    padding: 70px 0;
    font-size: 3rem;
}

/*navbar*/
ul.nawbar {
    margin-left: 10px;

    & > li {
        display: inline-block;
        background-color: inherit;
        text-decoration: none;
        font-size: 1.5rem;
        text-align: center;
        padding: 20px 8px;
        border-right: 1px solid black;
        height: 100px;
        line-height: 50px;
        margin-top: 10px;

        &:nth-child(2),
        &:nth-child(5) {
            line-height: 32px;
        }

        &:last-child {
            border: none;
        }
    }
}

.nav-link {
    font-weight: 700;
    font-family: 'Bangers', cursive;
    letter-spacing: 6px;
}

.navbar-brand {
    width: 20%;

    img {
        width: 220px;
        margin-left: 40px;
        border-radius: 50%;
    }
}

@media (orientation:portrait) {
    .container {
        padding: 5px;
    }
}

@media (orientation: landscape) {
    footer {
        padding: 30px
    }
}
