.list {
    font-family: serif;
    background-color: #a04200;
    font-size: 1.5rem;
    color: white;
    margin: 60px 0 100px;
    -webkit-box-shadow: 0 0 28px 1px black;
    -moz-box-shadow: 0 0 28px 1px black;
    box-shadow: 0 0 28px 1px black;

    li {
        list-style-type: none;

        & > a {
            display: block;
            color: whitesmoke;
            text-decoration: none;

            &:hover {
                color: black;
            }
        }
    }

    ol {
        margin-top: 10px;
    }

    li > ol > li {
        margin-left: -40px;
        margin-top: 3px;
        font-size: 1.25rem;
        background-color: #c27422;
        -webkit-box-shadow: 0 0 18px 1px black;
        -moz-box-shadow: 0 0 18px 1px black;
        box-shadow: 0 0 18px 1px black;

        &:hover {
            background-color: #b16311;
            cursor: pointer;

            a {
                color: black;
            }
        }

        &:hover &:active {
            -webkit-box-shadow: inset 0 0 18px black;
            -moz-box-shadow: inset 0 0 18px black;
            box-shadow: inset 0 0 18px black;
        }
    }
}

article.actors {
    margin-bottom: 120px;

    &:last-child {
        margin-bottom: 50px;
    }
}

section.content {
    width: 100%;
    background-color: azure;
    min-height: 20px;
    padding: 30px;
    border-radius: 15px;
    border: 2px solid;
    margin-bottom: 20px;

    &.new {
        font-size: 3rem;
        text-decoration-color: aqua;
        color: black;
        padding: 15px;
        margin-top: 30px;
    }

    p {
        padding-top: 35px;
        font-size: 1.25rem;
        float: left;
        color: black;
    }

    .photo_enlargement {
        overflow: hidden;
        margin: 15px;

        img {
            transition: all 1s ease-in-out;
        }

        &:hover img {
            transform: scale(1.2);
        }
    }

    figcaption {
        color: black;
        margin-top: 20px;
    }

    .gallery {
        margin-top: 50px;
    }
}



@media (orientation:portrait) {

    section.content {
        padding: 0;

        &.new {
            font-size: 2.4rem;
        }

        photo_enlargement img {
            margin: 15px 0;
        }
    }
}


@media (orientation: landscape) {

    section.content {
        padding: 0;

        figure {
            padding: 30px;
        }

        figcaption {
            margin-top: 0px;
        }
    }
}


