.geneza {
    width: 100%;
    margin: 30px auto 0 auto;

    img {
        width: 32%;
    }

    figure {
        display: inline-block;

        img {
            width: 80%;
        }

    }

    figcaption {
        margin: 10px 0 20px;
        font-size: 1.25rem;
    }
}

.geneza_okladka img {
    display: inline-block;
    opacity: 0.8;
    margin-bottom: 35px;
}

.podmianka img {
    margin: 50px auto;
    width: 65%;
}

.geneza2 {
    margin: 30px auto 100px auto;

    img {
        display: inline-block;
        width: 48%;
        height: 300px;
        vertical-align: middle;
        opacity: 0.8;
        margin: 40px auto 100px;
        border-radius: 20%;

        &:first-of-type {
            border-radius: 0px;
        }
    }

    &:nth-of-type(2) img:first-of-type {
        border-radius: 20%;
    }
}


.geneza3 img {
    display: inline-block;
    margin: 15px 0;
    opacity: 0.8;
    border: 4px solid black;
}

li.geneza_p {
    font-size: 1.2rem;
}

.geneza_iframe {
    margin: 20px auto 50px;
}

@media (max-width: 1100px){
@media (orientation:portrait) {


    .geneza2 img {
        width: 100%
    }

    .geneza_iframe {
        width: 100%;
    }
}

@media (orientation: landscape) {

    .gallery {
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .geneza_iframe {
        width: 100%;
    }
}
}