$bgColor: #c06410;
$thumbColor: #f39743;

@mixin correctness($color) {
    display: block;
    margin-left: 25px;
    font-size: 1.6rem;
    padding: 15px;
    text-align: left;
    font-weight: 800;
    color: $color;
};

@mixin scrollbars($path, $position1, $position2) {
    background: $bgColor url(img/#{$path}.png) $position1 $position2 no-repeat;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}