html{scroll-behavior: smooth;}

body::-webkit-scrollbar
{
    width: 14px;
    height:14px;
}

body::-webkit-scrollbar-track
{
    background-color: #c06410;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.8);
}

body::-webkit-scrollbar-thumb
{
    background-color: #f39743;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.8);
}

body::-webkit-scrollbar-corner
{
    background: #c06410 url(img/corner.png) 2px 2px no-repeat;
}
body::-webkit-scrollbar-button:vertical:decrement
{
     background: #c06410 url(img/up.png) 2px 2px no-repeat;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.8);
}
body::-webkit-scrollbar-button:vertical:increment
{
     background: #c06410 url(img/down.png) 2px 3px no-repeat;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.8);
}
body::-webkit-scrollbar-button:horizontal:decrement
{
     background: #c06410 url(img/left.png) 1px 2px no-repeat;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.8);
}
body::-webkit-scrollbar-button:horizontal:increment
{
     background: #c06410 url(img/right.png) 3px 2px no-repeat;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.8);
}
body
{
    /* Background pattern from Toptal Subtle Patterns */
	background-image:url("img/diagonal-squares/diagonal-squares.png");    
    background-attachment: fixed;
	margin: 0;
    font-size: 100%;
    text-align: center;
    box-sizing: border-box;
    color: #f9c128;
}

/*scroll_button*/
.scroll
{
    position: fixed;
    bottom: 50px;
    right: 15px;
    max-width: 70px;
    cursor: pointer;
    display: none;
}


footer
{
    text-align: center;
    font-size: 20px;
    background-color: #b05300;
    padding: 15px;
}

hr 
{
    width: 80%;
    background: -webkit-linear-gradient(left, #e8b017, #c2c0bc);
    background: -o-linear-gradient(left, #e8b017, #c2c0bc);
    background: linear-gradient(to right, #e8b017, #c2c0bc);
    height: 5px;
    margin-top: 200px;
    margin-bottom: 60px;
}



.container
{
    background-color: #c06410;
    width: 90vw;
    border: 5px solid #c06410;
    font-size: 30px;
}

p
{
    text-align: justify;
    padding: 50px;
}

h1
{
    margin-top: 70px
}

/*navbar-begining
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

ul.nawbar>li
{
    display: inline-block;
    background-color: inherit;
    text-decoration: none;
    font-size: 25px;
    text-align: justify;
    padding: 20px 8px;
    border-right: 1px solid black; 
    text-align: center;
    height: 100px;
    line-height: 50px;
    margin-top: 10px
}

ul.nawbar>li:nth-child(2), ul.nawbar>li:nth-child(5)
{
    line-height: 32px;
}

ul.nawbar>li:last-child
{
    border: none;
}

ul.nawbar {margin-left: 10px;}

.nav-link 
{
    font-weight: 700;
    font-family: 'Bangers', cursive;
    letter-spacing: 6px;
}

.navbar-brand
{
    width: 20%;
}

.navbar-brand img
{
    width: 220px;
    margin-left: 40px;
    border-radius: 50%;
}
/*navbar-end //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/






/*index.html - begining
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
section.index
{margin-top: 230px;}

section.index:first-child
{margin-top: 100px;}

section.index h3
{
    font-size: 55px;
    font-family: cursive;
    color: #f8d238;
}

table
{
    color: black;
    margin: 60px auto;
    text-align: center;
    font-size: 30px;
    background: rgb(202, 211, 232);
}


th
{
    padding: 30px;
    color: white;
    background-color: red;
}

td
{
    padding: 20px;
}

th#header
{  
    padding: 50px 0 50px 0;
    background: green;
}
tr:nth-child(even)
{background: rgb(225, 227, 235);}

.podzial img
{
    margin: 20px auto;
    width: 95%; 
    border: 4px solid black; 
    box-sizing: content-box;
}

.index header img
{
    width: 100%;
    display: none;
}

audio{display: none;}
.teatr
{
    padding: 10px;
}

.teatr figure {margin: 25px;}
.teatr figcaption {margin: 5px;}
.teatr figure img
{border: 4px solid black;
margin:auto;
width: 60%}

.zielen{color: yellow}

img.red
{
    cursor: pointer;
    width: 100px;
    margin-left: 20px;
    margin-top: 20px;
}
/*index.html - end
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/




/*geneza-begining
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.geneza
{
    width: 100%;
    margin: 30px auto 0 auto;
}

.geneza img
{
    display: inline-block;
    width: 32%;
    
    opacity: 0.8;
}

.geneza3 img
{
    display: inline-block;
    width: 100%;
    margin: 15px 0;
    opacity: 0.8;
    border: 4px solid black;
}

.podmianka img
{
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

li.geneza_p
{
    list-style-type: none;
    text-align: justify;
    margin-bottom: 30px;
}
.pepsi
{display: inline-block;}

.geneza2
{
    
    margin: 30px auto 100px auto;
}

.geneza2 img
{
    display: inline-block;
    width: 48%;
    height: 300px;
    vertical-align: middle;
    opacity: 0.8;
    margin: 40px auto 100px;
    border-radius: 50%;
}

.geneza2 img:first-of-type
{
    border-radius: 0px;
}
.geneza2:nth-of-type(2) img:first-of-type
{border-radius: 50%;}
.geneza_p
{
    font-size: 30px;
    color: #f9c128;
    background-color: inherit;
}


.geneza figure
{
    display: inline-block;
    width: 24%;
}

.geneza figure img
{
    width: 80%;
}

.geneza figcaption
{
    margin-top: 10px;
    color: #f9c128;
    font-size: 14px;
}
/*geneza-end
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/





/*bohaterowie-begining
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.lista
{
    background-color: firebrick;
    font-size: 23px;
    color: white;
    margin-bottom: 100px;
}
.lista li
{
    list-style-type: none;  
}

.lista ol
{margin-top: 10px;}

.lista li>ol>li
{
    margin-left: -40px;
    margin-top: 3px;
    font-size: 21px;
    background-color: #f44245; 
}

.lista li>ol>li:hover
{
    background-color: #f55354;
    cursor: pointer;  
}
.lista li>a
{
    color: whitesmoke;
    text-decoration: none;
}
li>a:hover
{
    color: black;
    text-decoration: none;
}

.content
{
    width: 100%;
    background-color: azure;
    min-height: 20px;
    padding: 30px;
    border-radius: 15px;
    border: 2px solid;
    margin-bottom: 20px;
}
.content.nowe
{
    font-size: 50px;
    text-align: center;
    text-decoration-color: aqua;
    color: black;
    padding: 15px;
    margin-top: 30px;
}
.content p
{
    text-align: justify;
    padding: 10px;
    font-size: 20px;
    float: left;
    color: black;
}
.content .powiekszenie_zdjecia
{overflow: hidden;}

.content .powiekszenie_zdjecia img
{
    width: 100%;
    transition: all 1s ease-in-out; 
}

.content .powiekszenie_zdjecia:hover img
{
    transform: scale(1.2); 
}

article.actors{margin-bottom: 120px;}

.content figcaption
{
    color:black;
    margin-top: 20px;
}

.gallery.bohaterowie
{margin-top: 50px;}
/*bohaterowie-end
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/





/*quiz-begining
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
section.quiz_section
{
    border: 30px double white;
    background-color: chocolate;
    color: #f9c128;
    font-family: cursive;
    padding: 20px;
}

.quiz_header
{
    font-weight: 700;
    margin-top: 40px;
}
.question
{
    width: 80%;
    margin: 50px auto 30px auto;
    border: 2px solid black;
    padding: 20px;
}
.odp
{
    width: 100%;
    margin: 0 auto 30px auto;
    border: 2px solid black;
    padding: 20px;
    transition: all 0.5s linear;
    text-align: left;
    cursor: pointer;
}
label {width: 100%}
.redBackground
{
    background-color:  #f9c128;
    color: black;
}
input[type=radio]
{opacity: 0;}
.wrong
{
    background-color: red;
}
.green
{
    background-color: green;
}
p #test
{
    text-align: center;
    background-color: green;
    color: floralwhite;
    font-size: 34px;
    float: none;
    display: inline;
    padding: 10px;
    border-radius: 30px;
}
input[type=submit]
{
    background-color: greenyellow;
    color: green;
    font-size: 50px;
    font-weight: 600;
    width: 300px;
    padding: 30px;
    border-radius: 23px;
    margin-top: 35px; 
}
input[type=submit]:hover
{
    background-color: green;
    color: greenyellow;
}
.quiz_solution
{
      
    color: #f9c128;
    text-align: justify;
    display:inline-block; 
    border: 1px dashed white; 
    padding: 30px;
    background-color: #e28632;
    -webkit-box-shadow: 0px 0px 8px 14px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 8px 14px rgba(0,0,0,0.75);
box-shadow: 0px 0px 8px 14px rgba(0,0,0,0.75);

    
}
.quiz_image_multi{width: 48%; vertical-align: top}
.quiz_imagea{float:left; text-align: justify; padding: 15px;}

figure.quiz_figure
{
    width: 32%; display: inline-block;
}
figure.quiz_figure img
{width: 100%;}
/*quiz - end
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


/*subiektywne - beginning
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
ul.liin li
{
    display: inline-block;
    list-style-type: none;
    margin-left: 30px;
    margin-top: 35px;
    text-align: left;
}

a.episode
{
    background: blue;
    color: floralwhite;
    font-size: 20px;
    border-radius: 20px;
    padding: 16px 25px;
    text-decoration: none;
}

a.episode:hover
{
    background-color: green;
}

div.links
{text-align: left;}
button.links
{
    background-image: linear-gradient(to left bottom, red, yellow);
    border-radius: 15px;
    padding: 10px;
    color: snow;
    margin-left: 30px;
    
    transition: all 0.1s ease;
} 
button.links:hover
{
background-image: linear-gradient(to left bottom, green, purple);
transform: skewX(15%)
   
}
/*subiektywne - end
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/